.file {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-left: 3px;
}

.folder {
  margin-top: 6px;
  padding: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.folder > span {
  margin: 0 5px 2px 5px;
}
